<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="Mycoonection" connectionString="Data Source=IMSS-JKR-CPU-27\SQLEXPRESS;Initial Catalog=CGC;Persist Security Info=True;User ID=sa;Password=int123$%^" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  
  
</configuration>
